<div class="px-8 py-4 flex gap-x-8 justify-between items-center" *ngIf="isMember else guest">
    <div>
        <app-logo></app-logo>
    </div>
    <div class="flex-1">
        <app-searchbar></app-searchbar>
    </div>
    <div>
        <app-navgroup></app-navgroup>
    </div>
    <div>
        <app-profilenav></app-profilenav>
    </div>
</div>

<ng-template #guest>
    <div class="px-8 py-4 flex gap-x-8 justify-between items-center">
        <div>
            <app-logo></app-logo>
        </div>
        <div class="flex-1">
            <app-searchbar></app-searchbar>
        </div>
        <div>
            <app-navgroup></app-navgroup>
        </div>
        <div>
            <a routerLink="/login">Login</a>
        </div>
        <div>
            <a routerLink="/register">Register</a>
        </div>
    </div>
</ng-template>