<div class="flex items-center justify-between">
    <div class="flex items-center gap-x-4">
        <div class="cursor-pointer flex items-center gap-x-4" routerLink="/profile">
            <div class="w-12 h-12 rounded-full border"></div>
            <div class="text-sm">Saksit Sirisakda</div>
        </div>
        <div class="text-sm">(1 day ago)</div>
    </div>
    <div>Bookmark</div>
</div>
<div class="cursor-pointer" routerLink="/forum">
    <div class="my-4 text-2xl">This is a title.</div>
    <div class="brief-content">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rem aliquid unde nostrum voluptatum sapiente, assumenda fuga, quas consequuntur sed, recusandae quisquam itaque? Voluptates debitis nesciunt vel praesentium, maiores rerum facere!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat suscipit ullam eius fugiat corrupti obcaecati recusandae quibusdam exercitationem veritatis? Nihil illum tempora optio ipsum, enim earum natus aliquid dicta rem.
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, accusamus cupiditate corporis est possimus quas nihil maxime necessitatibus, labore eum nam magnam! Aut eveniet exercitationem sapiente. Eligendi cum id quia.
    </div>
</div>
<div class="my-4 flex items-center gap-x-4 text-xs">
    <div class="flex gap-x-2">
        <app-tag tag="HTML"></app-tag>
        <app-tag tag="CSS"></app-tag>
        <app-tag tag="Javascript"></app-tag>
    </div>
    <div>Update on xx/xx/xxxx</div>
    <div>5 minutes to read</div>
</div>
<hr class="my-4">